---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "智谱清言",
    description:
      "自建智能体或参考其他人创建的智能体，几乎可完成除视频创作以外的绝大部分AI功能.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "文案优化",
    description:
      "可以优化文案的站点列表，以及保存已创作过的文案.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "图片处理&库",
    description:
      "处理图片的资源列表，保存图片的图床列表.  ",
    icon: "bx:bxs-data",
  },
  {
    title: "视频编辑&资源",
    description:
      "视频编辑的工具列表，可免费使用的视频资源列表.",
    icon: "bx:bxs-bot",
  },
  {
    title: "AI 音乐",
    description:
      "创建自己的背景原创音乐!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description:
      "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    自媒体创作工具，常用&&快速链接
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    国产大模型：文生图、图生视频、文案优化、视频编辑、
    AI音乐创作，自建智能体.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
